<h1>SI 564 Final Project: Trails in U.S. National Parks</h1>
<p>Haley Johnson</p>

In [1]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine 
from IPython.display import Image

<h2>Database Diagram</h2>
<p><a href = "https://www.kaggle.com/datasets/planejane/national-park-trails">National Parks data</a></p>

In [2]:
Image(url="nat_parks_erd.png", width=800, height=800)

<h2>Connect to SQL</h2>

In [ ]:
engine = create_engine(f'mysql+pymysql://haleyej-rw:{password}@34.134.16.183:14192/national_parks')

<h2>Split Data Into Tables</h2>

In [3]:
df = pd.read_csv("trails_data.csv")

In [4]:
df = df.drop(columns = ['trail_id', 'city_name', 'country_name', '_geoloc', 'features', 'activities'])

In [5]:
df['area_name'] = df['area_name'].str.replace(" National Park", "")

In [6]:
def create_table(df, col):
    '''
    Turns column in the dataframe
    into a new dataframe that just
    contains the unique values in 
    that column
    
    Function is used to spli'''
    temp = df[col].unique()
    df = pd.DataFrame(temp, columns = [col])
    df = df.reset_index()
    df = df.rename(columns = {'index': 'id'})
    return df

In [7]:
parks_df = create_table(df, 'area_name')
states_df = create_table(df, 'state_name')
routes_df = create_table(df, 'route_type')

In [8]:
# METRICS ROWS
# elevation gain in METERS
# length in METERS

# IMPERIAL ROWS
# elevation gain in FEET
# length in YARDS / meters ??

<h3>Trails Table</h3>

In [9]:
metric = df[df['units'] == 'm']
imperial = df[df['units'] == 'i']

In [10]:
def meters_to_yards(s):
    '''
    Takes in column of dataframe 
    
    Convers meters to yards
    '''
    return s * 1.09361

In [11]:
metric['elevation_gain'] = metric['elevation_gain'].apply(meters_to_yards)
metric['length'] = metric['length'].apply(meters_to_yards)

<ipython-input-11-5803d4a6adb9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metric['elevation_gain'] = metric['elevation_gain'].apply(meters_to_yards)
<ipython-input-11-5803d4a6adb9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metric['length'] = metric['length'].apply(meters_to_yards)

In [12]:
df = pd.concat([imperial, metric])

In [13]:
df.head()

,name,area_name,state_name,popularity,length,elevation_gain,difficulty_rating,route_type,visitor_usage,avg_rating,num_reviews,units
0,Harding Ice Field Trail,Kenai Fjords,Alaska,24.8931,15610.598,1161.8976,5,out and back,3.0,5.0,423,i
1,Mount Healy Overlook Trail,Denali,Alaska,18.0311,6920.162,507.7968,3,out and back,1.0,4.5,260,i
2,Exit Glacier Trail,Kenai Fjords,Alaska,17.7821,2896.812,81.9912,1,out and back,3.0,4.5,224,i
3,Horseshoe Lake Trail,Denali,Alaska,16.2674,3379.614,119.7864,1,loop,2.0,4.5,237,i
4,Triple Lakes Trail,Denali,Alaska,12.5935,29772.790,1124.7120,5,out and back,1.0,4.5,110,i

<h3>Parks Table</h3>

<h3>States Table</h3>

<h3>Route Types Table</h3>

<h2>Normalize</h2>

In [14]:
def normalize(df1, df2, target, fk):
    '''
    Normalize tables to prepare for SQL
    puts foreign keys into main table
    
    Takes in four arguments:
    two dataframes that are being marged, 
    the column used to merge them
    the foreign key connecting the table
    
    Return a dataframe with the 
    foreign key normalized
    '''
    df1 = df1.merge(df2, on = target)
    df1 = df1.rename(columns = {'id': fk})
    df1 = df1.drop(columns = target)
    return df1

In [15]:
targets = [(states_df, 'state_name', 'state_id'), (routes_df, 'route_type', 'route_type_id'),
           (parks_df, 'area_name', 'park_id')]
           
for target in targets:
    df = normalize(df, target[0], target[1], target[2])

(    id      state_name
0    0          Alaska
1    1         Arizona
2    2        Arkansas
3    3      California
4    4        Colorado
5    5         Florida
6    6         Georgia
7    7         Indiana
8    8        Kentucky
9    9           Maine
10  10        Michigan
11  11       Minnesota
12  12        Missouri
13  13         Montana
14  14          Nevada
15  15      New Mexico
16  16  North Carolina
17  17    North Dakota
18  18            Ohio
19  19          Oregon
20  20  South Carolina
21  21    South Dakota
22  22       Tennessee
23  23           Texas
24  24            Utah
25  25        Virginia
26  26      Washington
27  27         Wyoming
28  28          Hawaii
29  29            Maui, 'state_name', 'state_id')
(   id      route_type
0   0    out and back
1   1            loop
2   2  point to point, 'route_type', 'route_type_id')
(    id                                    area_name
0    0                                 Kenai Fjords
1    1                                       Denali
2    2                                  Glacier Bay
3    3                                       Katmai
4    4                                 Grand Canyon
5    5                                      Saguaro
6    6                             Petrified Forest
7    7                                  Hot Springs
8    8                                     Yosemite
9    9                                      Sequoia
10  10                                  Joshua Tree
11  11                              Lassen Volcanic
12  12                                 Kings Canyon
13  13                                    Pinnacles
14  14                                 Death Valley
15  15                                      Redwood
16  16                              Channel Islands
17  17                               Rocky Mountain
18  18                Great Sand Dunes and Preserve
19  19                                   Mesa Verde
20  20                 Black Canyon of the Gunnison
21  21                                   Everglades
22  22                                 Fort Pickens
23  23                                     Biscayne
24  24                                 Dry Tortugas
25  25  Clayton Co International Park, Jonesboro GA
26  26                                Indiana Dunes
27  27                                 Mammoth Cave
28  28                                       Acadia
29  29                                  Isle Royale
30  30                                    Voyageurs
31  31                                 Gateway Arch
32  32                                      Glacier
33  33                                  Yellowstone
34  34                                  Great Basin
35  35                             Carlsbad Caverns
36  36                        Great Smoky Mountains
37  37                           Theodore Roosevelt
38  38                              Cuyahoga Valley
39  39                                  Crater Lake
40  40                                     Congaree
41  41                          Congaree Wilderness
42  42                                     Badlands
43  43                                    Wind Cave
44  44                          Guadalupe Mountains
45  45                                     Big Bend
46  46                                         Zion
47  47                                       Arches
48  48                                 Bryce Canyon
49  49                                  Canyonlands
50  50                                 Capitol Reef
51  51                                   Shenandoah
52  52                                    Fort Hunt
53  53            Wolf Trap for the Performing Arts
54  54                                Mount Rainier
55  55                                      Olympic
56  56                               North Cascades
57  57                                  Grand Teton
58  58                             Hawaii Volcanoes
59  59                                    Haleakala, 'area_name', 'park_id')

In [16]:
df

,name,popularity,length,elevation_gain,difficulty_rating,visitor_usage,avg_rating,num_reviews,units,id_x,id_y,id
0,Harding Ice Field Trail,24.8931,15610.598,1161.8976,5,3.0,5.0,423,i,0,0,0
1,Exit Glacier Trail,17.7821,2896.812,81.9912,1,3.0,4.5,224,i,0,0,0
2,Mount Healy Overlook Trail,18.0311,6920.162,507.7968,3,1.0,4.5,260,i,0,0,1
3,Triple Lakes Trail,12.5935,29772.790,1124.7120,5,1.0,4.5,110,i,0,0,1
4,Bison Gulch,8.8331,11265.380,1178.9664,5,1.0,4.5,43,i,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
3308,Fort Jefferson Loop,5.1776,804.670,0.9144,1,3.0,4.5,10,i,5,1,24
3309,Clayton County International Park Trail,4.7291,2574.944,36.8808,3,1.0,4.0,26,i,6,1,25
3310,St. Louis Riverfront Trail,6.1208,34439.876,109.7280,1,2.0,4.0,25,i,12,1,31
3311,Jefferson National Expansion Memorial,4.4919,2574.944,20.7264,1,1.0,4.0,17,i,12,1,31
3312,Wolf Trap Loop Trail,7.1119,2896.812,43.8912,1,1.0,4.5,43,i,25,1,53

<h2>Write To SQL</h2>

In [ ]:
df.to_sql("table",con=engine)