<h1>SI 564 Final Project: Trails in U.S. National Parks</h1>
<p>Haley Johnson</p>

<p>Code to create normalized database tables from All Trails dataset</p>

In [1]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine 
from IPython.display import Image

<h2>Database Diagram</h2>
<p><a href = "https://www.kaggle.com/datasets/planejane/national-park-trails">National Parks data</a></p>

In [2]:
Image(url="nat_parks_erd.png", width=800, height=800)

<h2>Connect to SQL</h2>

In [3]:
engine = create_engine(f'mysql+pymysql://haleyej-rw:{password}@34.134.16.183:14192/nat_parks')

<h2>Split Data Into Tables</h2>

In [4]:
df = pd.read_csv("trails_data.csv")

In [5]:
df['area_name'] = df['area_name'].apply(lambda s: np.where(s == 'Congaree National Park Wilderness', 'Congaree', s))

not_nps = ['Fort Pickens National Park', 'Clayton Co International Park, Jonesboro GA', 
           'Fort Hunt National Park', 'Wolf Trap National Park for the Performing Arts']

df['valid'] = df['area_name'].apply(lambda s: s not in not_nps)

df = df[df['valid'] == True]
df = df.drop(columns = ['valid', 'trail_id', 'city_name', 'country_name', '_geoloc', 'activities', 
                        'num_reviews', 'features'])

In [6]:
df['area_name'] = df['area_name'].str.replace(" National Park", "")
df['area_name'] = df['area_name'].str.replace(" National Park and Preserve", "")

In [7]:
df['state_name'] = df['state_name'].astype(str)
df['state_name'] = df['state_name'].apply(lambda s: np.where(s == 'Maui', 'Hawaii', s))

In [8]:
def create_table(df, col):
    '''
    Turns column in the dataframe
    into a new dataframe that just
    contains the unique values of 
    that column
    
    Function is used to split
    dataframe into smaller tables
    for normalization
    
    Returns a new dataframe
    '''
    temp = df[col].unique()
    df = pd.DataFrame(temp, columns = [col])
    df = df.reset_index()
    df = df.rename(columns = {'index': 'id'})
    df['id'] = df['id'].apply(lambda s: s + 1)
    return df

In [9]:
parks_df = create_table(df, 'area_name')
states_df = create_table(df, 'state_name')
routes_df = create_table(df, 'route_type')

<h3>Trails Table</h3>

In [10]:
metric = df[df['units'] == 'm']
imperial = df[df['units'] == 'i']

In [11]:
def meters_to_yards(s):
    '''
    Takes in column of dataframe 
    
    Convers meters to yards
    '''
    return s * 1.09361

In [25]:
metric['elevation_gain'] = metric['elevation_gain'].apply(meters_to_yards)
metric['length'] = metric['length'].apply(meters_to_yards)

In [13]:
df = pd.concat([imperial, metric])

In [14]:
df = df.drop(columns = ['units'])

<h2>Normalize</h2>

In [15]:
def normalize(df1, df2, target, fk):
    '''
    Removes data that have been 
    normlized out from the main 
    dataframe
    
    Connects main table to supporting
    tables with fk column
    
    Takes in four arguments:
    the two dataframes that are being marged, 
    the column used to merge them
    the foreign key connecting the tables
    
    Return a dataframe normalized 
    with respect to df2
    '''
    df1 = df1.merge(df2, on = target)
    df1 = df1.rename(columns = {'id': fk})
    df1 = df1.drop(columns = target)
    return df1

In [16]:
targets = [(states_df, 'state_name', 'state_id'), (routes_df, 'route_type', 'route_type_id'),
           (parks_df, 'area_name', 'park_id')]
           
for target in targets:
    df = normalize(df, target[0], target[1], target[2])

In [17]:
parks_df = parks_df.rename(columns = {'area_name': 'park'})

In [18]:
df = df.reset_index()
df = df.rename(columns = {'index': 'id'})
df['id'] = df['id'].apply(lambda s: s + 1)

In [24]:
df.head()

,id,name,popularity,length,elevation_gain,difficulty_rating,visitor_usage,avg_rating,state_id,route_type_id,park_id
0,1,Harding Ice Field Trail,24.8931,15610.598,1161.8976,5,3.0,5.0,1,1,1
1,2,Exit Glacier Trail,17.7821,2896.812,81.9912,1,3.0,4.5,1,1,1
2,3,Mount Healy Overlook Trail,18.0311,6920.162,507.7968,3,1.0,4.5,1,1,2
3,4,Triple Lakes Trail,12.5935,29772.790,1124.7120,5,1.0,4.5,1,1,2
4,5,Bison Gulch,8.8331,11265.380,1178.9664,5,1.0,4.5,1,1,2

In [21]:
df.shape

(3306, 11)

<h2>Write To SQL</h2>

In [23]:
df.to_sql("trails", con = engine, index = False)
states_df.to_sql("states", con = engine, index = False)
parks_df.to_sql("parks", con = engine, index = False)
routes_df.to_sql("route_types", con = engine, index = False)