<h1>SI 564 Final Project: Trails in U.S. National Parks</h1>
<p>Haley Johnson</p>

<p>Code to create normalized database tables from All Trails dataset</p>

In [1]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine 
from IPython.display import Image

<h2>Database Diagram</h2>
<p><a href = "https://www.kaggle.com/datasets/planejane/national-park-trails">National Parks data</a></p>

In [2]:
Image(url="nat_parks_erd.png", width=800, height=800)

<h2>Connect to SQL</h2>

In [3]:
password = "a64e04a17572b13a8074eec5a61b10ea"
engine = create_engine(f'mysql+pymysql://haleyej-rw:{password}@34.134.16.183:14192/nat_parks')

<h2>Split Data Into Tables</h2>

In [4]:
df = pd.read_csv("trails_data.csv")

In [5]:
df['area_name'] = df['area_name'].apply(lambda s: np.where(s == 'Congaree National Park Wilderness', 'Congaree', s))

not_nps = ['Fort Pickens National Park', 'Clayton Co International Park, Jonesboro GA', 
           'Fort Hunt National Park', 'Wolf Trap National Park for the Performing Arts']

df['valid'] = df['area_name'].apply(lambda s: s not in not_nps)

df = df[df['valid'] == True]
df = df.drop(columns = ['valid'])

In [6]:
df['area_name'] = df['area_name'].str.replace(" National Park", "")
df['area_name'] = df['area_name'].str.replace(" National Park and Preserve", "")

In [7]:
df['state_name'] = df['state_name'].astype(str)
df['state_name'] = df['state_name'].apply(lambda s: np.where(s == 'Maui', 'Hawaii', s))

In [8]:
def create_table(df, col):
    '''
    Turns column in the dataframe
    into a new dataframe that just
    contains the unique values in 
    that column
    
    Function is used to split
    big dataframe into smaller table
    for normalization
    
    Returns a new dataframe, just
    made up of the target column
    '''
    temp = df[col].unique()
    df = pd.DataFrame(temp, columns = [col])
    df = df.reset_index()
    df = df.rename(columns = {'index': 'id'})
    df['id'] = df['id'].apply(lambda s: s + 1)
    return df

In [9]:
parks_df = create_table(df, 'area_name')
states_df = create_table(df, 'state_name')
routes_df = create_table(df, 'route_type')

<h3>Trails Table</h3>

In [10]:
metric = df[df['units'] == 'm']
imperial = df[df['units'] == 'i']

In [11]:
def meters_to_yards(s):
    '''
    Takes in column of dataframe 
    
    Convers meters to yards
    '''
    return s * 1.09361

In [12]:
metric['elevation_gain'] = metric['elevation_gain'].apply(meters_to_yards)
metric['length'] = metric['length'].apply(meters_to_yards)

<ipython-input-12-5803d4a6adb9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metric['elevation_gain'] = metric['elevation_gain'].apply(meters_to_yards)
<ipython-input-12-5803d4a6adb9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metric['length'] = metric['length'].apply(meters_to_yards)

In [13]:
df = pd.concat([imperial, metric])

In [14]:
df = df.drop(columns = ['units'])

<h2>Normalize</h2>

In [15]:
def normalize(df1, df2, target, fk):
    '''
    Normalize tables to prepare for SQL
    puts foreign keys into main table
    
    Takes in four arguments:
    two dataframes that are being marged, 
    the column used to merge them
    the foreign key connecting the table
    
    Return a dataframe with the 
    foreign key normalized
    '''
    df1 = df1.merge(df2, on = target)
    df1 = df1.rename(columns = {'id': fk})
    df1 = df1.drop(columns = target)
    return df1

In [16]:
targets = [(states_df, 'state_name', 'state_id'), (routes_df, 'route_type', 'route_type_id'),
           (parks_df, 'area_name', 'park_id')]
           
for target in targets:
    df = normalize(df, target[0], target[1], target[2])

In [17]:
parks_df = parks_df.rename(columns = {'area_name': 'park'})

In [18]:
df = df.reset_index()
df = df.rename(columns = {'index': 'id'})
df['id'] = df['id'].apply(lambda s: s + 1)

In [20]:
parks_df

    id                           park
0    1                   Kenai Fjords
1    2                         Denali
2    3                    Glacier Bay
3    4                         Katmai
4    5                   Grand Canyon
5    6                        Saguaro
6    7               Petrified Forest
7    8                    Hot Springs
8    9                       Yosemite
9   10                        Sequoia
10  11                    Joshua Tree
11  12                Lassen Volcanic
12  13                   Kings Canyon
13  14                      Pinnacles
14  15                   Death Valley
15  16                        Redwood
16  17                Channel Islands
17  18                 Rocky Mountain
18  19  Great Sand Dunes and Preserve
19  20                     Mesa Verde
20  21   Black Canyon of the Gunnison
21  22                     Everglades
22  23                       Biscayne
23  24                   Dry Tortugas
24  25                  Indiana Dunes
25  26                   Mammoth Cave
26  27                         Acadia
27  28                    Isle Royale
28  29                      Voyageurs
29  30                   Gateway Arch
30  31                        Glacier
31  32                    Yellowstone
32  33                    Great Basin
33  34               Carlsbad Caverns
34  35          Great Smoky Mountains
35  36             Theodore Roosevelt
36  37                Cuyahoga Valley
37  38                    Crater Lake
38  39                       Congaree
39  40                       Badlands
40  41                      Wind Cave
41  42            Guadalupe Mountains
42  43                       Big Bend
43  44                           Zion
44  45                         Arches
45  46                   Bryce Canyon
46  47                    Canyonlands
47  48                   Capitol Reef
48  49                     Shenandoah
49  50                  Mount Rainier
50  51                        Olympic
51  52                 North Cascades
52  53                    Grand Teton
53  54               Hawaii Volcanoes
54  55                      Haleakala

<h2>Write To SQL</h2>

In [ ]:
df.to_sql("trails", con = engine, index = False)
states_df.to_sql("states", con = engine, index = False)
parks_df.to_sql("parks", con = engine, index = False)
routes_df.to_sql("route_types", con = engine, index = False)