<h1>SI 564 Final Project: Trails in U.S. National Parks</h1>
<p>Haley Johnson</p>

In [1]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine 
from IPython.display import Image

<h2>Database Diagram</h2>
<p><a href = "https://www.kaggle.com/datasets/planejane/national-park-trails">National Parks data</a></p>

In [2]:
Image(url="nat_parks_erd.png", width=800, height=800)

<h2>Connect to SQL</h2>

In [ ]:
engine = create_engine(f'mysql+pymysql://haleyej-rw:{password}@34.134.16.183:14192/national_parks')

<h2>Split Data Into Tables</h2>

In [3]:
df = pd.read_csv("trails_data.csv")

In [4]:
df = df.drop(columns = ['trail_id', 'city_name', 'country_name', '_geoloc', 'features', 'activities'])

In [5]:
df['area_name'] = df['area_name'].str.replace(" National Park", "")

In [6]:
def create_table(df, col):
    '''
    Turns column in the dataframe
    into a new dataframe that just
    contains the unique values in 
    that column
    
    Function is used to split
    big dataframe into smaller table
    for normalization
    
    Returns a new dataframe, just
    made up of the target column
    '''
    temp = df[col].unique()
    df = pd.DataFrame(temp, columns = [col])
    df = df.reset_index()
    df = df.rename(columns = {'index': 'id'})
    return df

In [7]:
parks_df = create_table(df, 'area_name')
states_df = create_table(df, 'state_name')
routes_df = create_table(df, 'route_type')

<h3>Trails Table</h3>

In [9]:
metric = df[df['units'] == 'm']
imperial = df[df['units'] == 'i']

In [10]:
def meters_to_yards(s):
    '''
    Takes in column of dataframe 
    
    Convers meters to yards
    '''
    return s * 1.09361

In [11]:
metric['elevation_gain'] = metric['elevation_gain'].apply(meters_to_yards)
metric['length'] = metric['length'].apply(meters_to_yards)

<ipython-input-11-5803d4a6adb9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metric['elevation_gain'] = metric['elevation_gain'].apply(meters_to_yards)
<ipython-input-11-5803d4a6adb9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metric['length'] = metric['length'].apply(meters_to_yards)

In [12]:
df = pd.concat([imperial, metric])

In [17]:
df = df.drop(columns = ['units'])

<h3>Parks Table</h3>

<h3>States Table</h3>

<h3>Route Types Table</h3>

<h2>Normalize</h2>

In [14]:
def normalize(df1, df2, target, fk):
    '''
    Normalize tables to prepare for SQL
    puts foreign keys into main table
    
    Takes in four arguments:
    two dataframes that are being marged, 
    the column used to merge them
    the foreign key connecting the table
    
    Return a dataframe with the 
    foreign key normalized
    '''
    df1 = df1.merge(df2, on = target)
    df1 = df1.rename(columns = {'id': fk})
    df1 = df1.drop(columns = target)
    return df1

In [15]:
targets = [(states_df, 'state_name', 'state_id'), (routes_df, 'route_type', 'route_type_id'),
           (parks_df, 'area_name', 'park_id')]
           
for target in targets:
    df = normalize(df, target[0], target[1], target[2])

In [16]:
df

,name,popularity,length,elevation_gain,difficulty_rating,visitor_usage,avg_rating,num_reviews,units,state_id,route_type_id,park_id
0,Harding Ice Field Trail,24.8931,15610.598,1161.8976,5,3.0,5.0,423,i,0,0,0
1,Exit Glacier Trail,17.7821,2896.812,81.9912,1,3.0,4.5,224,i,0,0,0
2,Mount Healy Overlook Trail,18.0311,6920.162,507.7968,3,1.0,4.5,260,i,0,0,1
3,Triple Lakes Trail,12.5935,29772.790,1124.7120,5,1.0,4.5,110,i,0,0,1
4,Bison Gulch,8.8331,11265.380,1178.9664,5,1.0,4.5,43,i,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
3308,Fort Jefferson Loop,5.1776,804.670,0.9144,1,3.0,4.5,10,i,5,1,24
3309,Clayton County International Park Trail,4.7291,2574.944,36.8808,3,1.0,4.0,26,i,6,1,25
3310,St. Louis Riverfront Trail,6.1208,34439.876,109.7280,1,2.0,4.0,25,i,12,1,31
3311,Jefferson National Expansion Memorial,4.4919,2574.944,20.7264,1,1.0,4.0,17,i,12,1,31
3312,Wolf Trap Loop Trail,7.1119,2896.812,43.8912,1,1.0,4.5,43,i,25,1,53

<h2>Write To SQL</h2>

In [ ]:
df.to_sql("table",con=engine)